h1 {
    text-align: center;
    color:chartreuse;
}

h2 {
    text-align: center;
    color:crimson
}

button {
    background-color:chartreuse;
    border-radius: 5px;
    padding: 1em;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    width: 100px;
    translate: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins", sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 16rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo span {
    color: var(--main-color);
    text-shadow: 0 0 5px var(--main-color);
}


:root {
    --bg-color: #080808;
    --segundary-bg-color: #05d905;
    --text-color: #e8f5e8;
    --main-color: rgb(92, 17, 184);
}

Nessa parte,  a tag boddy, representa a tag boddy no HTML, definindo o que vai estar dentro dela 
(já que a teg baddy se refere a parte visual do código(
body {
    backgroung-color: var (--bg_color);
    color: var(--text-color);